/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

:root {
    /* Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* ---------------------HEADER-------------------- */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 40rem;
    text-align: center;
    background: linear-gradient(45deg, #66B2FF 16.69%, #001F3F 100%); 
}

header img {
    width: 20rem;
    height: auto;
    margin-top: 1remrem;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: .5rem;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-blue);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 11.8rem);
    top: 34rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* Shadow */
    box-shadow: .5rem .5rem .8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 1.3rem;
    height: .8rem;
    margin-left: 1rem;
    background-image: url('/assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

/* ----------------------------- Section 1 -------------------------------- */

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}

/* Scroll para las tablas de monedas y comisiones */
.tables-container--slider {
    display: flex;
    height: 50rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url('./assets/imgs/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}



.main-exchange-container p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table {
    margin: 4rem 2rem 0 4rem;
}
.main-commission-table {
    margin: 4rem 4rem 0 2rem;
}

.main-currency-table,
.main-commission-table {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    /* Aquí hacemos el scroll para las tablas */
    scroll-snap-align: center;
    font-family: 'Inter', sans-serif;
}



.main-currency-table .currency-table--title,
.main-commission-table .commission-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-commission-table .commission-table--title{
    color: var(--secondary-blue);
}

.currency-table--container,
.commission-table--container {
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}

.currency-table--container table,
.commission-table--container table {
    width: 100%;
    height: 100%;
    box-shadow: .5rem .5rem .8rem rgba(89, 73, 30, 0.16);
    overflow: hidden;
}

.currency-table--container td,
.commission-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left,
.commission-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right,
.commission-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left,
.commission-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right,
.commission-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right,
.commission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down,
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up{
    background-image: url('./assets/icons/trending-up.svg');
}

.currency-table--date,
.commission-table--date {
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: .8rem;
    background-color: var(--soft-orange);
    border-radius: .8rem;
}

.currency-table--date p,
.commission-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}

.main-commission-table .commission-table--date {
    background-color: var(--soft-blue);
}

/* ----------------------------- Section 2 -------------------------------- */

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 32rem;
    height: auto;
    padding: 2rem 1rem;
    background-color: var(--black);
}

.product-detail--doge-logo img{
    position: absolute;
    width: 8rem;
    height: auto;
    top: -6.5rem;
    left: calc(50% - 4rem);
}

.product-detail--title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-top: 7rem;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    min-height: 16rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: var(--warm-black);
    border-radius: .5rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.16);
}

.product--card-title {
    margin: 1rem auto 1rem auto;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* ---------------------------- Section 3 ---------------------------- */

.bitcoin-img-container {
    width: 100%;
    min-width: 32rem;
    height: 50vh;
    text-align: center;
    background-image: url('./assets/imgs/bitcoinbaby2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    padding-top: 6rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/* ---------------------------- Section 4 ---------------------------- */

.main-plans-container {
    width: 100%;
    min-width: 32rem;
    padding-bottom: 7rem;
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.plans--title h2 {
    padding-top: 5rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/* Aquí estamos creando un scroll horizontal para las tarjetas de los paquetes */
.plans-container--slider {
    display: flex;
    height: 31.6rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    /* Esto es parte del scroll */
    scroll-snap-align: center; 
    width: 70%;
    min-width: 19rem;
    max-width: 30rem;
    height: 25rem;
    margin: 5rem 2.5rem 0;
    background-color: var(--just-white);
    border-radius: 1.5rem;
    box-shadow: 0 .4rem .8rem rgba(89, 73, 30, 0.16);
}

.month-card {
    margin-left: 7rem;
}

.week-card {
    margin-right: 7rem;
}

.recommended {
    position: absolute;
    width: 12rem;
    height: 3.1rem;
    top: -1.5rem;
    font-size: 1.2rem;
    padding: .6rem;
    left: calc(50% - 6rem);
    background-color: var(--bitcoin-orange);
    border-radius: .8rem;
    color: var(--just-white);
}

.plan-card--title {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--price {
    padding: .5rem 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}

.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
}

.dollar {
    position: absolute;
    top: 4rem;
    left: calc(30%);
    max-width: calc(30%);
}

.plan-card--saving {
    font-size: 1.2rem;
    padding: 1rem;
}

.plan-card--ca {
    width: 15rem;
    height: 4.8rem;
    margin: 2rem auto;
    background-color: var(--soft-orange);
    border: .2rem solid var(--bitcoin-orange);
    border-radius: .4rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;

}

/* ---------------------------- Footer ---------------------------- */

footer {
    display: flex;
    width: 100%;
    height: 15rem;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 50rem;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 1rem 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}

.right {
    display: flex;
    flex-direction: column;
}

.right img {
    width: 8rem;
    height: auto;
}

.right p {
    color: var(--just-white);
}